.video-size {
  height: 85em;
  width: 100%;
  overflow: hidden;
  margin-top: -7em;
}
  
.video-grid{
  display: grid;
  grid-template-rows: 20% repeat(2, minmax(5rem, 1fr)) 20%;
  grid-template-columns: 10% repeat(5, minmax(3rem, 1fr)) 10%;
  z-index: -1;
}
  
.text-container{
  height: 70%;
  width: 70%;
  justify-self: center;
  align-self: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.507);
  grid-row: 2/4;
  grid-column: 2/7;
}
  
.video-size video {
  min-width: 100%;
  min-height: 100%;
}
  
@media screen and (max-width: 629px) {
  .video-size{
    margin-top: -18rem;
  }
}
  
@media screen and (max-width: 500px) {
  .video-size{
    margin-top: -25rem;
  }
}